.container {
  margin-inline-start: 10rem;
  max-inline-size: 90rem;
  padding-inline-start: var(--size-8);
  padding-block: var(--size-10);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  align-items: flex-start;

  & > div {
    display: flex;
    align-items: center;
    gap: var(--size-3);
  }
}
