# directories
.next
.husky
coverage
node_modules

# global extentions
**/*.md
**/*.webp
**/.gitkeep

# image files
**/*.svg
**/*.png
src/app/favicon.ico

# other ignore files
.prettierignore
.stylelintignore
.eslintignore
.gitignore