.button.primary,
.button.secondary,
.button.danger {
  --blending-mode: overlay;
  --blending-opacity: 0.2;
}

.button.tertiary {
  --blending-mode: darken;
  --blending-opacity: 0.05;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--radius-very-small);
  cursor: pointer;
  overflow: clip;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--size-3);
  font-family: inherit;

  p,
  svg {
    position: relative;
    z-index: 5;
  }

  p {
    white-space: nowrap;
    font-weight: var(--font-weight-regular);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0;
    background-color: var(--color-btn-overlay);
    transition: opacity var(--transition-short) ease-in;
    mix-blend-mode: var(--blending-mode);
  }

  &:hover::before {
    opacity: var(--blending-opacity);
  }
}

.primary {
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary-text);
}

.secondary {
  background-color: var(--color-btn-secondary-bg);
  color: var(--color-btn-secondary-text);
}

.tertiary {
  background-color: var(--color-btn-tertiary-bg);
  color: var(--color-btn-tertiary-text);
}

.danger {
  background-color: var(--color-btn-danger-bg);
  color: var(--color-btn-danger-text);
}

.button:disabled {
  background-color: var(--color-btn-disabled-bg);
  color: var(--color-btn-disabled-text);
  cursor: not-allowed;
}

.button.pending {
  cursor: progress;
}

.small {
  block-size: var(--size-7);
  padding: var(--size-2) var(--size-3);

  & p {
    font-size: var(--font-size-4);
  }
}

.medium {
  block-size: var(--size-8);
  padding: var(--size-3) var(--size-4);

  & p {
    font-size: var(--font-size-5);
  }
}

.large {
  block-size: var(--size-9);
  padding: var(--size-4) var(--size-5);

  & p {
    font-size: var(--font-size-6);
  }
}
