@use '../../style/utility/relative-position';

.root {
  position: relative;
  z-index: 999;

  --target-block-size: 0;
  --target-inline-size: 0;
  --offset: 0;
}

.offset {
  position: absolute;
  background-color: transparent;
  display: none;
  place-items: center;
  padding: var(--offset);

  &.show {
    display: grid;
  }
}

.container {
  background-color: var(--color-bg);
  box-shadow: var(--shadow-close);
  block-size: 100%;
  inline-size: 100%;
  border-radius: var(--radius-medium);
  border: var(--divider-medium);
}

// Dropdown types
.dropdown {
  --offset: var(--size-2);

  inline-size: 24rem;

  .container {
    padding: var(--size-3);
  }
}

.flyout {
  --offset: var(--size-4);

  inline-size: 48rem;

  .container {
    padding: var(--size-6);
  }
}

.context {
  --offset: 0;

  inline-size: 18rem;

  .container {
    padding: (--size-3);
  }
}

.popover {
  --offset: var(--size-5);

  inline-size: 24rem;
  text-align: center;

  .container {
    padding: var(--size-2) var(--size-3);
    background-color: var(--color-popover-bg);
    color: var(--color-text-popover);
    border-radius: var(--radius-small);
    position: relative;
    z-index: 999;
  }

  .container::before {
    content: '';
    inline-size: 1.2rem;
    aspect-ratio: 1;
    background-color: var(--color-popover-bg);
    position: absolute;
    inset: 0 50%;
    z-index: 10;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    transform: translate(-50%, -45%) rotate(45deg);
  }
}
