.root {
  position: relative;
}

.offset {
  position: absolute;
  background-color: transparent;
  display: none;
  place-items: center;
  padding: var(--offset);

  &.show {
    display: grid;
  }
}

.container {
  background-color: var(--color-bg);
  box-shadow: var(--shadow-close);
  block-size: 100%;
  inline-size: 100%;
  border-radius: var(--radius-medium);
  border: var(--divider-medium);
}

.dropdown {
  --offset: var(--size-5);

  inline-size: 24rem;

  .container {
    padding: var(--size-4);
  }
}

.flyout {
  --offset: var(--size-6);

  inline-size: 48rem;

  .container {
    padding: var(--size-6);
  }
}

.context {
  --offset: 0;

  inline-size: 18rem;

  .container {
    padding: (--size-3);
  }
}
