.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  block-size: 8rem;
  padding-inline: 8rem;
  border-block-end: var(--divider-medium);

  .logo {
    display: flex;
    gap: var(--size-6);
    align-items: center;

    img {
      inline-size: 5rem;
    }

    p {
      font-size: var(--font-size-7);
      font-weight: var(--font-weight-bold);
    }
  }

  .mainNav {
    justify-self: center;
    display: flex;
    gap: var(--size-3);
  }

  .authNav {
    justify-self: end;
    display: flex;
    gap: var(--size-3);
  }
}
