// These colors are predefined so they don't have to be redefined every time
// when a theme is created. They could be overwritten in the theme file.
:root {
  // neutral
  --theme-neutral-50: var(--color-neutral-50);
  --theme-neutral-100: var(--color-neutral-100);
  --theme-neutral-200: var(--color-neutral-200);
  --theme-neutral-300: var(--color-neutral-300);
  --theme-neutral-400: var(--color-neutral-400);
  --theme-neutral-500: var(--color-neutral-500);
  --theme-neutral-600: var(--color-neutral-600);
  --theme-neutral-700: var(--color-neutral-700);
  --theme-neutral-800: var(--color-neutral-800);
  --theme-neutral-900: var(--color-neutral-900);
  --theme-neutral-950: var(--color-neutral-950);

  // danger
  --theme-danger-50: var(--color-red-50);
  --theme-danger-100: var(--color-red-100);
  --theme-danger-200: var(--color-red-200);
  --theme-danger-300: var(--color-red-300);
  --theme-danger-400: var(--color-red-400);
  --theme-danger-500: var(--color-red-500);
  --theme-danger-600: var(--color-red-600);
  --theme-danger-700: var(--color-red-700);
  --theme-danger-800: var(--color-red-800);
  --theme-danger-900: var(--color-red-900);
  --theme-danger-950: var(--color-red-950);

  // warning
  --theme-warning-50: var(--color-amber-50);
  --theme-warning-100: var(--color-amber-100);
  --theme-warning-200: var(--color-amber-200);
  --theme-warning-300: var(--color-amber-300);
  --theme-warning-400: var(--color-amber-400);
  --theme-warning-500: var(--color-amber-500);
  --theme-warning-600: var(--color-amber-600);
  --theme-warning-700: var(--color-amber-700);
  --theme-warning-800: var(--color-amber-800);
  --theme-warning-900: var(--color-amber-900);
  --theme-warning-950: var(--color-amber-950);

  // success
  --theme-success-50: var(--color-emerald-50);
  --theme-success-100: var(--color-emerald-100);
  --theme-success-200: var(--color-emerald-200);
  --theme-success-300: var(--color-emerald-300);
  --theme-success-400: var(--color-emerald-400);
  --theme-success-500: var(--color-emerald-500);
  --theme-success-600: var(--color-emerald-600);
  --theme-success-700: var(--color-emerald-700);
  --theme-success-800: var(--color-emerald-800);
  --theme-success-900: var(--color-emerald-900);
  --theme-success-950: var(--color-emerald-950);
}
