.container {
  display: flex;
  gap: var(--size-3);
  align-items: center;

  img {
    inline-size: 3rem;
    transition: transform var(--transition-medium) ease-in;
  }

  p {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-bold);
    color: var(--color-brand-text);
  }
}

.animated {
  &:hover {
    img {
      transform: scale(1.05) rotate(-5deg);
    }
  }
}
