.margin-top-very-small {
  margin-block-start: var(--size-3);
}

.margin-top-small {
  margin-block-start: var(--size-5);
}

.margin-top-medium {
  margin-block-start: var(--size-7);
}

.margin-top-large {
  margin-block-start: var(--size-9);
}

.margin-top-very-large {
  margin-block-start: var(--size-11);
}
